In [1]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [2]:
empty_dict={}

In [3]:
d1={'a':'some value', 'b':[1,2,3,4]}

In [4]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [6]:
d1[7]='an integer'

In [7]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [8]:
'b' in d1

True

In [9]:
d1[5]='some value'

In [10]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [11]:
d1['dummy']='another value'

In [12]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [13]:
del d1[5]

In [14]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [15]:
ret=d1.pop('dummy')

In [16]:
ret

'another value'

In [17]:
list(d1.keys())

['a', 'b', 7]

In [18]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [20]:
d1.update({'b':'foo', 'c':12})

In [21]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [22]:
mapping=dict(zip(range(5), reversed(range(5))))

In [23]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [32]:
words = ['apple','bat', 'bar', 'atom', 'book']

In [33]:
by_letter={}

In [34]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [35]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [37]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter, []).append(word)

In [38]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [39]:
from collections import defaultdict

In [40]:
by_letter = defaultdict(list)

In [41]:
for word in words:
    by_letter[word[0]].append(word)

In [42]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [43]:
hash('string')

5339631351587197347

In [44]:
hash((1,2,3,4,5))

8315274433719620810

In [45]:
hash([3,4,6,(4,6,)])

TypeError: unhashable type: 'list'

In [46]:
d={}

In [47]:
d[tuple([1,2,3])]=5

In [48]:
d

{(1, 2, 3): 5}

In [49]:
set([2,3,4,2,2,2,3,3,3,1,1,1,1])

{1, 2, 3, 4}

In [50]:
{2,2,2,3,3,4,4,5,6,7,8,9}

{2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
a={2,3,4,5,6}

In [52]:
b={3,4,5,6,7,8}

In [53]:
a.union(b)

{2, 3, 4, 5, 6, 7, 8}

In [54]:
a|b

{2, 3, 4, 5, 6, 7, 8}

In [55]:
a.intersection(b)

{3, 4, 5, 6}

In [56]:
a & b

{3, 4, 5, 6}

In [57]:
c = a.copy()

In [58]:
c|=b

In [59]:
c

{2, 3, 4, 5, 6, 7, 8}

In [60]:
d = a.copy()

In [61]:
d&=b

In [62]:
d

{3, 4, 5, 6}

In [63]:
my_data=[1,2,3,4]

In [64]:
my_set={tuple(my_data)}

In [65]:
my_set

{(1, 2, 3, 4)}

In [66]:
a_set={1,2,3,4,5}

In [67]:
{1,2,3}.issubset(a_set)

True

In [68]:
a_set.issuperset({1,2,3})

True

In [69]:
{1,2,3}=={3,2,1}

True

In [72]:
strings=['a', 'as', 'bat', 'car', 'dove', 'python']

In [73]:
[x.upper()  for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [74]:
unique_lengths ={len(x) for x in strings}

In [75]:
unique_lengths

{1, 2, 3, 4, 6}

In [76]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [77]:
loc_mapping={val: index for index, val in enumerate(strings)}

In [78]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [79]:
all_data=[['john', 'emily', 'michael', 'mary', 'steven'],['maria','juan','javier','natalia','pilar']]

In [80]:
names_of_interest=[]

In [82]:
for names in all_data:
    enough_es =[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)

In [83]:
result = [name for names in all_data for name in names if name.count('e')>=2]

In [84]:
result

['steven']