# 数据重构

In [1]:
import numpy as np
import pandas as pd

* stack

In [2]:
df_obj = pd.DataFrame(np.random.randint(0,10, (5,2)), columns=['data1', 'data2'])
df_obj

   data1  data2
0      0      8
1      9      5
2      1      1
3      8      5
4      9      4

In [3]:
stacked = df_obj.stack()
print(stacked)

0  data1    0
   data2    8
1  data1    9
   data2    5
2  data1    1
   data2    1
3  data1    8
   data2    5
4  data1    9
   data2    4
dtype: int32

In [4]:
print(type(stacked))
print(type(stacked.index))

<class 'pandas.core.series.Series'>
<class 'pandas.indexes.multi.MultiIndex'>

In [5]:
# 默认操作内层索引
stacked.unstack()

   data1  data2
0      0      8
1      9      5
2      1      1
3      8      5
4      9      4

In [6]:
# 通过level指定操作索引的级别
stacked.unstack(level=0)

       0  1  2  3  4
data1  0  9  1  8  9
data2  8  5  1  5  4