# 数据转换

In [1]:
import numpy as np
import pandas as pd

* 重复数据

In [2]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
df_obj

  data1  data2
0     a      1
1     a      1
2     a      0
3     a      0
4     b      2
5     b      3
6     b      3
7     b      1

In [3]:
df_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [4]:
df_obj.drop_duplicates()

  data1  data2
0     a      1
2     a      0
4     b      2
5     b      3
7     b      1

In [5]:
df_obj.drop_duplicates('data2')

  data1  data2
0     a      1
2     a      0
4     b      2
5     b      3

* map函数

In [6]:
ser_obj = pd.Series(np.random.randint(0,10,10))
ser_obj

0    3
1    3
2    0
3    6
4    2
5    0
6    3
7    1
8    7
9    0
dtype: int32

In [7]:
ser_obj.map(lambda x : x ** 2)

0     9
1     9
2     0
3    36
4     4
5     0
6     9
7     1
8    49
9     0
dtype: int64

* 数据替换repalce

In [8]:
# 替换单个值
ser_obj.replace(0, -100)

0      3
1      3
2   -100
3      6
4      2
5   -100
6      3
7      1
8      7
9   -100
dtype: int32

In [9]:
# 替换多个值
ser_obj.replace([0, 2], -100)

0      3
1      3
2   -100
3      6
4   -100
5   -100
6      3
7      1
8      7
9   -100
dtype: int32

In [10]:
# 替换多个值
ser_obj.replace([0, 2], [-100, -200])

0      3
1      3
2   -100
3      6
4   -200
5   -100
6      3
7      1
8      7
9   -100
dtype: int32