# pandas数据结构

In [1]:
import pandas as pd

* series

In [2]:
# 通过list构建series
ser_obj=pd.Series(range(10,20))
print(type(ser_obj))

<class 'pandas.core.series.Series'>

In [3]:
# 获取数据
print(ser_obj.values)
# 获取索引
print(ser_obj.index)

[10 11 12 13 14 15 16 17 18 19]
RangeIndex(start=0, stop=10, step=1)

In [4]:
# 预览数据
print(ser_obj.head(3))

0    10
1    11
2    12
dtype: int64

In [5]:
print(ser_obj)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [6]:
# 通过索引获取数据
print(ser_obj*2)
print(ser_obj>15)

0    20
1    22
2    24
3    26
4    28
5    30
6    32
7    34
8    36
9    38
dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [8]:
# 通过dict构建Series
year_data={2001:17.8,2002:20.1,2003:16.5}
ser_obj2=pd.Series(year_data)
print(ser_obj2.head())
print(ser_obj2.index)

2001    17.8
2002    20.1
2003    16.5
dtype: float64
Int64Index([2001, 2002, 2003], dtype='int64')

* dataframe

In [11]:
import numpy as np
# 通过ndarray构建dataframe
array=np.random.randn(5,4)
print(array)

df_obj=pd.DataFrame(array)
print(df_obj.head())

[[-1.31668263 -1.7046717  -0.57199145  0.57357292]
 [-0.9478965   1.30483282 -3.22182626  1.09571605]
 [ 0.67554098  0.40583691 -1.05240888 -0.44573903]
 [ 1.69016994 -0.97075962  0.03523547 -0.42632213]
 [-1.12364079  0.18516118 -0.39106385 -0.35407003]]
          0         1         2         3
0 -1.316683 -1.704672 -0.571991  0.573573
1 -0.947897  1.304833 -3.221826  1.095716
2  0.675541  0.405837 -1.052409 -0.445739
3  1.690170 -0.970760  0.035235 -0.426322
4 -1.123641  0.185161 -0.391064 -0.354070

In [12]:
# 通过dict构建DataFrame
dict_data={'A':1.,
          'B':pd.Timestamp('20161217'),
           'C':pd.Series(1,index=list(range(4)),dtype='float32'),
           'D':np.array([3]*4,dtype='int32'),
           'E':pd.Categorical(['python','Java','C++','C#']),
           'F':'ChinaHadoop'
          }
# print(dict_data)
df_obj2=pd.DataFrame(dict_data)
print(df_obj2.head())

     A          B    C  D       E            F
0  1.0 2016-12-17  1.0  3  python  ChinaHadoop
1  1.0 2016-12-17  1.0  3    Java  ChinaHadoop
2  1.0 2016-12-17  1.0  3     C++  ChinaHadoop
3  1.0 2016-12-17  1.0  3      C#  ChinaHadoop

In [13]:
# 通过列索引获取列数据
print(df_obj2['A'])
print(type(df_obj2['A']))

print(df_obj2.A)

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64
<class 'pandas.core.series.Series'>
0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [14]:
# 增加列
df_obj2['G']=df_obj2['D']+4
print(df_obj2.head())

     A          B    C  D       E            F  G
0  1.0 2016-12-17  1.0  3  python  ChinaHadoop  7
1  1.0 2016-12-17  1.0  3    Java  ChinaHadoop  7
2  1.0 2016-12-17  1.0  3     C++  ChinaHadoop  7
3  1.0 2016-12-17  1.0  3      C#  ChinaHadoop  7

In [15]:
# 删除列
del (df_obj2['G'])
print(df_obj2.head())

     A          B    C  D       E            F
0  1.0 2016-12-17  1.0  3  python  ChinaHadoop
1  1.0 2016-12-17  1.0  3    Java  ChinaHadoop
2  1.0 2016-12-17  1.0  3     C++  ChinaHadoop
3  1.0 2016-12-17  1.0  3      C#  ChinaHadoop

* 索引对象index

In [16]:
print(type(ser_obj.index))
print(type(df_obj2.index))

print(df_obj2.index)

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.numeric.Int64Index'>
Int64Index([0, 1, 2, 3], dtype='int64')

In [17]:
# 索引对象不可变
df_obj2.index[0]=2

TypeError: Index does not support mutable operations

# pandas数据操作

In [21]:
import pandas as pd

* series索引

In [22]:
ser_obj=pd.Series(range(5),index=['a','b','c','d','e'])
print(ser_obj.head())

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [23]:
# 行索引
print(ser_obj['a'])
print(ser_obj[0])

0
0

In [24]:
# 切片索引
print(ser_obj[1:3])
print(ser_obj['b':'d'])

b    1
c    2
dtype: int64
b    1
c    2
d    3
dtype: int64

In [25]:
# 不连续索引
print(ser_obj[[0,2,4]])
print(ser_obj[['a','e']])

a    0
c    2
e    4
dtype: int64
a    0
e    4
dtype: int64

In [26]:
# 布尔索引
ser_bool=ser_obj>2
print(ser_bool)
print(ser_obj[ser_bool])

print(ser_obj[ser_obj>2])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int64
d    3
e    4
dtype: int64

* DataFrame索引

In [29]:
import numpy as np

df_obj=pd.DataFrame(np.random.randn(5,4),columns=['a','b','c','d'])
print(df_obj.head())

          a         b         c         d
0  0.845598  0.991083  0.057686  0.357889
1  0.362007 -0.198436 -1.413229  1.032879
2 -0.558796 -0.357583 -0.719720 -0.382018
3  0.486160  0.016543 -0.852485  1.404338
4  0.752630 -1.909549 -0.527971 -0.101627

In [35]:
# 列索引
print('列索引')
print(df_obj['a'])
print(type(df_obj[[0]]))

# 不连续索引
print('不连续索引')
print(df_obj[['a','c']])
print(df_obj[[1,3]])

列索引
0    0.845598
1    0.362007
2   -0.558796
3    0.486160
4    0.752630
Name: a, dtype: float64

KeyError: '[0] not in index'

* 三种索引方式

In [36]:
# 标签索引loc
# series
print(ser_obj['b':'d'])
print(ser_obj.loc['b':'d'])

# dataframe
print(df_obj['a'])
print(df_obj.loc[0:2,'a'])

b    1
c    2
d    3
dtype: int64
b    1
c    2
d    3
dtype: int64
0    0.845598
1    0.362007
2   -0.558796
3    0.486160
4    0.752630
Name: a, dtype: float64
0    0.845598
1    0.362007
2   -0.558796
Name: a, dtype: float64

In [37]:
import numpy as np
import pandas as pd

* 常用的统计计算

In [39]:
df_obj=pd.DataFrame(np.random.randn(5,4),columns=['a','b','c','d'])
df_obj

          a         b         c         d
0 -0.652058  0.352745 -0.812989 -0.344932
1 -0.180270 -1.067798 -0.132113 -0.778650
2 -0.300249  2.401678  0.867277  0.975481
3  2.368890 -0.693517 -0.548493  0.721272
4  1.132738  0.224749 -0.622904 -1.843267

In [40]:
df_obj.sum()

a    2.369050
b    1.217857
c   -1.249223
d   -1.270096
dtype: float64

In [41]:
df_obj.max()

a    2.368890
b    2.401678
c    0.867277
d    0.975481
dtype: float64

In [43]:
df_obj.min(axis=1)

0   -0.812989
1   -1.067798
2   -0.300249
3   -0.693517
4   -1.843267
dtype: float64

* 统计描述

In [44]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean   0.473810  0.243571 -0.249845 -0.254019
std    1.256988  1.347917  0.672182  1.148050
min   -0.652058 -1.067798 -0.812989 -1.843267
25%   -0.300249 -0.693517 -0.622904 -0.778650
50%   -0.180270  0.224749 -0.548493 -0.344932
75%    1.132738  0.352745 -0.132113  0.721272
max    2.368890  2.401678  0.867277  0.975481